<h1 class="page-header">Welcome to Orbit</h1>
<hr>
<% if current_user.profile_pic.present? %>
  <%= image_tag current_user.profile_pic(:thumb), class: "img-circle pull-left" %>
<% end %>
<p class="lead">Hey <%= current_user.username %>, great to see you!</p>


<% content_for :right_sidebar do %>
<div class="panel panel-primary panel-sidebar">
  <div class="panel-heading">
    Contact directory
  </div>
  <ul class="list-group">
    <% @users.each do |user| %>
    <li class="list-group-item"><%= link_to user.username, user_path(user) %></li>
    <% end %>
    <li class="list-group-item"><%= link_to 'See all people', users_path %></li>
  </ul>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    Department pages
  </div>
  <ul class="list-group">
    <% @departments.each do |department| %>
    <li class="list-group-item"><%= link_to department.title, department_path(department) %></li>
    <% end %>
    <li class="list-group-item"><%= link_to 'See all departments', departments_path %></li>
  </ul>
</div>

<% end %>