<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="error-explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-image-upload">
    
    <% if @user.profile_pic.present? %>
    
      <%= image_tag @user.profile_pic(:thumb), class: "img-circle" %>
      <%= f.file_field :profile_pic %>
    
    <% else %>
    
      <%= f.label :profile_pic %> 
      <%= f.file_field :profile_pic %>
    
    <% end %>

  </div>

  <div class="form-group">
    <%= f.label :username %> 
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %> 
    <%= f.text_field :email, class: "form-control", required: true, type: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :job_title %>  
    <%= f.text_field :job_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :biography %> 
    <%= f.text_area :biography, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-warning" %>
  </div>
<% end %>
