<h1>Orbit Users</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
  </div>
  
  <table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Job title</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>  
        <td><%= link_to user.id, user %></td>
        <td><%= user.username %></td>
        <td><%= mail_to user.email, user.email %></td>
        <td><%= user.job_title %></td>
        <td><%= link_to 'View profile', user %>, <%= link_to 'Edit profile', edit_user_path(user) %>, <%= link_to 'Delete profile', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  
</div>

<% @users.each do |user| %>
  <% if current_user && user.admin %>
    <%= link_to 'Add new user', new_user_path %>
  <% end %>
<% end %>