<h1><%= @user.username %>'s profile</h1>
<hr>

<% if @user.profile_pic.present? %>
  <%= image_tag @user.profile_pic(:thumb), class: "img-circle pull-left" %>
<% end %>
<p><%= @user.biography %></p>
<p class="clearfix"></p>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">
  </div>
  <table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Job title</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
      <tr>  
        <td><%= link_to @user.id, @user %></td>
        <td><%= mail_to @user.email, @user.email %></td>
        <td><%= @user.job_title %></td>
        
        <td>
          <% if current_user.id == @user.id or current_user.admin? %>
            <%= link_to 'Edit profile', edit_user_path(@user) %>, <%= link_to "Edit account", edit_user_registration_path %>, <%= link_to 'Delete profile', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
            &mdash;
          <% end %>
        </td>
      </tr>
  </tbody>
</table>
</div>


<ul class="list-unstyled">
  <li><%= link_to 'Back', users_path %></li>
</ul>

<% content_for :second_sidebar do %>


<% end %>
