<h1><%= @department.title %></h1>
<hr>

<p class="lead"><%= @department.description %></p>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">
    Team members
  </div>
  <table class="table ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Job title</th>
      </tr>
    </thead>

    <tbody>
      
        <% @department.users.each do |user| %>
        <tr>
          <td><%= link_to user.id, user_path(user) %></td>
          <td><%= link_to user.username, user_path(user) %></td>
          <td><%= mail_to user.email, user.email %></td>
          <td><%= user.job_title  %></td>
        </tr>
        <% end %>
        
    </tbody>
  </table>
</div>


<% if current_user.admin? %><%= link_to 'Edit', edit_department_path(@department) %> | <% end %> 
<%= link_to 'Back', departments_path %>